@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
background: tomato;
}

.wrapper{
width: 350px;
height: 380px;
background: #fff;
padding: 10px;
margin: 100px auto;
box-shadow: 0px 10px 5px Orgba(0, 0, 0, 0.1);
border-bottom-right-radius: 80px;
border-top-left-radius: 80px;
border: 1px solid rgb(rgb(215, 92, 92), green, blue);
}

form{
    width: 260px;
    margin: 20px 37px;
    text-align: center;
    }
    h1{
    text-transform: uppercase;
    }
    input, textarea{
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid tomato;
    }

    button{
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        color:#fff;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 7px;
        background: ☐tomato;
        }

        button:hover{
        background: orangered
        }